<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery Name:</strong>
    <%= Brewery.find_by(id:beer.brewery_id).name %>
  </p>

  <p>
    <% if beer.ratings.empty? %>
      <p> Beer has not yet been rated!  </p>
    <% else %>
      <%= "Beer has #{pluralize(beer.ratings.count, 'rating')} with average of #{beer.average_score}." %>
    <% end %> 
  </p>

</div>
